doctype html
html(lang="en")
  
  head
    
    title Alarm Clock
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/styles.css")
      
  body
    
    .container
      
      .clock-wrap
        ul.control-hrs
          li +
          li -
        .hrs 00
        span :
        .mins 00
        ul.control-mins
          li +
          li -

      .btn-wrap
        .alarm SET ALARM
        .type AM/PM
        
    script(src="./js/jquery-3.2.1.min.js")
    script(src="./js/app.js")
    
